
* {
    background-color: rgb(255, 255, 255);
  }
/* Styles for the NavBar */
nav {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    padding-top: 20px;
   
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: 500;


    color: #000000;
    text-decoration: none;
    margin-bottom: 15px; 
    transition: color 0.3s ease;
    padding: 20px; 
  }
  
 
  .nav-link:hover {
    color: #007bff;
  }
  .studForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;

    border-radius: 68px;
    height: 500px;
    border: 1px black solid;
    
  }
  
  .studForm label {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    
  }
  
  .studForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  